@font-face {
  font-family: "Lab Grotesque-Regular";
  src:url("/fonts/LabGrotesque-Regular.woff") format("woff");
  font-weight: "400";
}

@font-face {
  font-family: "Lab Grotesque-Medium";
  src:url("/fonts/LabGrotesque-Medium.woff") format("woff");
  font-weight: "500";
}
