*,*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.button {
  font-family: "Lab Grotesque-Medium";
  font-size: inherit;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.button-bs {
  background: $gradient-red;
  color: #fff;
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  border-radius: 6px;
  width: 100%;
  border: none;

  &:hover {
    background: $red;
  }
}

.disabled {
  background-color: #BEC5CC;
  color: #fff;
  cursor: no-drop;
}
